body {
	background:#fff;
	height:auto;
	font-family: 'Questrial', sans-serif;
    font-size: 12pt;
    color: rgba(0,0,0,.6);
}
h2 {
	font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",sans-serif;
	color: #464646;
	font-size: 23px;
    padding: 9px 15px 4px 0;
    line-height: 29px;
}
table{
	border-spacing:0px;
}
input, textarea, keygen, select, button {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em 0em 0em 0em;
    font: 13.3333px Arial;
	outline:none;
}
.fixed{
	position:fixed;
}

.fadeLoad {
	position:fixed;
	left:0px;right:0px;
	top:0px; bottom:0px;
	background-color:#fff;
	opacity:0.5;
	z-index:999;
}
.loadGif {
	position:fixed;
	height:50px;width:50px;
	left:50%; margin-left:-25px;
	top:50%; margin-top:-25px;
	background-image: url("/images/loading.gif");
	background-size: contain;
	z-index:1000;
}

#admin-header {
	position:absolute;
	left:0px;
	top:0px;
	right:0px;
	height:30px;
	background-color:#464646;
	color: #ccc;
	overflow:hidden;
}
#admin-user{
	position:absolute;
	right:0px;
	top:0px;
	bottom:0px;
    background: #464646;
	background-image: linear-gradient(to top,#373737 0,#464646 5px);
	clear: none;
    list-style: none;
    margin: 0;
    padding: 0;
    text-indent: 0;
    z-index: 9;
	border-left: 1px solid #333;
}
#admin-user a {
	display: block;
	border-left: 1px solid #555;
	width:100%;
	height:30px;
	padding:0px 40px;
	line-height:30px;
	color: #ccc;
	text-decoration: none;
}
#admin-content {
	position:absolute;
	left:0px;
	top:30px;
	right:0px;
	bottom:0px;
	overflow:hidden;
}
#left-menu {
	position:absolute;
	left:0px;
	top:0px;
	bottom:0px;
	width:200px;
	background-color: #ececec;
	border:none;
	overflow-y:auto;
}
#main-content {
	position:absolute;
	left:200px;
	top:0px;
	bottom:0px;
	right:0px;
	background-color:#fff;
	border:none;
	overflow:auto;
	padding:20px;
}
#link:hover{
	background-color:yellow;
}
.margintop30{
	margin-top:30px;
}

.Tm::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

.Tm::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
}

.Tm::-webkit-scrollbar-corner {
    background-color: transparent;
}

.Tm::-webkit-scrollbar-thumb {
    background-color: rgba(255,255,255,0.4);
    -webkit-box-shadow: inset 1px 1px 0 rgba(255,255,255,0.10),inset 0 -1px 0 rgba(255,255,255,0.07);
}
.menu-item {
	height:30px;
	border-top:1px solid #fff;
	border-bottom:1px solid #fff;
	cursor:pointer;
}

.menu-icon {
	width: 28px;
    height: 28px;
	display:inline-block;
	float: left;
	margin:0px 3px;
	background-color: transparent;
    background-repeat: no-repeat;
	background-image:url(/admin/images/menu.png);
}

.ico-home {
	background-position: -59px -34px;
}
.ico-pages {
	background-position: -149px -34px;
}

.ico-preview {
	background-position: 2px -34px;
}

.ico-files {
	background-position: -119px -34px;
}

.ico-users {
	background-position: -301px -34px;
}

.ico-pin {
	background-position: -270px -34px;
}

.ico-hammer {
	background-position: -211px -34px;
}


.menu-current {
	background-color:#fff;
	background-position-y: -2px;
}
.menu-title {
	display:inline-block;
	line-height: 30px;
	width: 159px;
    white-space: nowrap;
    overflow: hidden;
}

.icon32 {
	background-color: transparent;
    background-repeat: no-repeat;
	
	float: left;
    height: 34px;
    margin: 7px 8px 0 0;
    width: 36px;
	
	background-image: url(/admin/images/icons32.png);
}

#icon-edit-pages {
	background-position: -312px -5px;
}

#wrap-main {
	margin:10px;
}
.main-table {
	width:100%;
	border: 1px solid #dfdfdf;
    background-color: #f9f9f9;
	border-radius: 3px;
}
.main-table thead td, .main-table thead th {
	background: #f1f1f1;
	background-image: linear-gradient(to top,#ececec,#f9f9f9);
}
.main-table td, .main-table th {
	height:45px;
	margin:0px;
	border-width:1px 0;
	border-style:solid;
	border-top-color: #fff;
	border-bottom-color:#dfdfdf;
}
.alt {
    background-color: #fcfcfc;
}

.right-block {
	width:100%;
	max-width:260px;
	border: 1px solid #dfdfdf;
    background-color: #f9f9f9;
	border-radius: 3px;
	margin-bottom:30px;
}
.block{
	width: 100%; height:100%;
    border: 1px solid #dfdfdf;
    background-color: #f9f9f9;
    border-radius: 3px;
	overflow: hidden;
	position:relative;
}

.right-block .controls-header, .block .controls-header {
	background: #f1f1f1;
	border-width:1px 0;
	border-style:solid;
	border-top-color: #fff;
	border-bottom-color:#dfdfdf;

	background-image: linear-gradient(to top,#ececec,#f9f9f9);
	padding:10px 20px;

}
.block .controls-body  .content{
	position:absolute !important;
    top: 51px;
    bottom: 0px;
	right: 0px;
    left: 0px;
    text-align: -webkit-auto;
}	
.block .controls-body  .buttons-set{
	position:absolute !important;
	bottom:0px;
	left:0px; right:0px;
}	
.block .controls-body .controls-body-row{
	overflow-y: auto;
	padding:0px !important;
}

.right-block .controls-body .controls-body-row, .block .controls-body .controls-body-row{
	position:relative;
	padding:10px 20px;
	border-width:1px 0;
	border-style:solid;
	border-top-color: #fff;
	border-bottom-color:#dfdfdf;
	font-size:12px;
}
.right-block .controls-body .controls-body-row strong, .block .controls-body .controls-body-row strong{
	margin-left:10px;
	display:inline-block;
}
.block-select {
	width:100%;
	height:30px;
}
.block-select option {
	height:30px;
}
.button {
	display: inline-block;
    text-decoration: none;
    font-size: 12px;
    line-height: 23px;
    height: 24px;
    margin: 0;
    padding: 0 10px 1px;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    -webkit-border-radius: 3px;
    -webkit-appearance: none;
    border-radius: 3px;
    white-space: nowrap;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	outline: none;
	
}

.button-primary {
	background-color: #21759b;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#2a95c5),to(#21759b));
    background-image: -webkit-linear-gradient(top,#2a95c5,#21759b);
    background-image: -moz-linear-gradient(top,#2a95c5,#21759b);
    background-image: -ms-linear-gradient(top,#2a95c5,#21759b);
    background-image: -o-linear-gradient(top,#2a95c5,#21759b);
    background-image: linear-gradient(to bottom,#2a95c5,#21759b);
    border-color: #21759b;
    border-bottom-color: #1e6a8d;
    -webkit-box-shadow: inset 0 1px 0 rgba(120,200,230,0.5);
    box-shadow: inset 0 1px 0 rgba(120,200,230,0.5);
    color: #fff;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(0,0,0,0.1);
}

.button.button-large {
    height: 30px;
    line-height: 28px;
    padding: 0 12px 2px;
}
.page-table td{
	vertical-align:top;
}
.page-view label, .page-view input {
	font-family: Georgia,"Times New Roman","Bitstream Charter",Times,serif;
	
}
.page-view .postarea, #values{
	display:block;
	width:auto;
	padding-right:20px;
}
#values{
	margin-top:50px;
}
.all-align-center, .all-align-center * {
	text-align:center !important;
	vertical-align:middle !important;
}
.vertical-align-center, .vertical-align-center *{
	vertical-align:middle !important;
}
.top-center {
	text-align:center !important;
	vertical-align:top !important;
}

.border {
	padding:2px;
	padding-right: 4px;
	border-radius: 3px;
    border-width: 1px;
    border-style: solid;
	border-color: #CCCCCC;

}
.page-view input[type="text"] {
	background-color: #fff;
    color: #333;
	border-radius: 3px;
    border-width: 1px;
    border-style: solid;
	border-color: #dfdfdf;
	padding:3px;
	padding-right:6px;
	width:100%;
	box-sizing: border-box;
}
.page-view textarea {
	background-color: #fff;
    color: #333;
	border-radius: 3px;
    border-width: 1px;
    border-style: solid;
	border-color: #dfdfdf;
	padding:3px;
	padding-right:6px;
	width:100%;
	height:100px;
	box-sizing: border-box;
}
#permalink {
	font-size:12px;
}
#editor {
	
}

#editor-text {
	outline:none;
	height:100%;
	min-height: 200px;
	background-color:#fff;
	
}

.tabs {
	width:100%;
	text-align:right;
}

.tab-radio {
	display:none !important;
}

.tabs .tab {
	position: relative;
    top: 1px;
    z-index: 2;
	display:inline-block;
	width:auto;
	border: 1px solid #ccc;
	margin:0px;
	cursor:pointer;
	padding:3px 20px;
	background-color: #909090;
    color: #fff;
	border-radius:3px 3px 0px 0px;
}
.tabs .tab.active{
	border-color: #ccc #ccc #f0f0f0;
    background-color: #f0f0f0;
    color: #555;
	border-bottom:1px solid #f0f0f0;
}
.tabs-body {
	width:100%;
	border:1px solid #ccc;
	border-radius:3px;
}
#editor-buttons {
	height:60px;
	background: #f1f1f1;
}

.option-name, .option-key {
	text-align:left !important; 
	width:95% !important; 
	height:100% !important;
	text-align: left !important; 
	padding:3px !important; 
}

.button-controls
{
        display: inline-block;
        white-space: nowrap;
        background-color: #ccc;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ccc));
        background-image: -webkit-linear-gradient(top, #eee, #ccc);
        background-image: -moz-linear-gradient(top, #eee, #ccc);
        background-image: -ms-linear-gradient(top, #eee, #ccc);
        background-image: -o-linear-gradient(top, #eee, #ccc);
        background-image: linear-gradient(top, #eee, #ccc);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#eeeeee', EndColorStr='#cccccc');
        border: 1px solid #777;
        padding: 0 1.5em;
        margin: 0.5em;
        font: bold 1em/2em Arial, Helvetica;
        text-decoration: none;
        color: #333;
        text-shadow: 0 1px 0 rgba(255,255,255,.8);
        -moz-border-radius: .2em;
        -webkit-border-radius: .2em;
        border-radius: .2em;
        -moz-box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
        -webkit-box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
        box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 1px 0 rgba(0,0,0,.3);
}
 
.button-controls:hover
{
        background-color: #ddd;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#ddd));
        background-image: -webkit-linear-gradient(top, #fafafa, #ddd);
        background-image: -moz-linear-gradient(top, #fafafa, #ddd);
        background-image: -ms-linear-gradient(top, #fafafa, #ddd);
        background-image: -o-linear-gradient(top, #fafafa, #ddd);
        background-image: linear-gradient(top, #fafafa, #ddd);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fafafa', EndColorStr='#dddddd');
}
 
.button-controls:active
{
        -moz-box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
        -webkit-box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
        box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
        position: relative;
        top: 1px;
}
 
.button-controls:focus
{
        outline: 0;
        /*background: #fafafa; */
}    
 
.button-controls:before
{
        background: #ccc;
        background: rgba(0,0,0,.1);
        float: left;
        width: 1em;
        text-align: center;
        font-size: 1.5em;
        margin: 0 1em 0 -1em;
        padding: 0 .2em;
        -moz-box-shadow: 1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.5);
        -webkit-box-shadow: 1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.5);
        box-shadow: 1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.5);
        -moz-border-radius: .15em 0 0 .15em;
        -webkit-border-radius: .15em 0 0 .15em;
        border-radius: .15em 0 0 .15em;
}
 
/* Hexadecimal entities for the icons */
 
.add:before
{
        content: "\271A";
}
 
.edit:before
{
        content: "\270E";
}
 
.delete:before
{
        content: "\2718";
}
 
.save:before
{
        content: "\2714";
}
 
.email:before
{
        content: "\2709";
}
 
.like:before
{
        content: "\2764";
}
 
.next:before
{
        content: "\279C";
}
 
.star:before
{
        content: "\2605";
}
 
.spark:before
{
        content: "\2737";
}
 
.play:before
{
        content: "\25B6";
}

.del_option {
	font-size: 0.5em;
}


.switch {
  margin: 0px;
  position: relative;
}

.switch label {
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
}

.switch input {
  top: 0; 
  right: 0; 
  bottom: 0; 
  left: 0;
  opacity: 0;
  z-index: 100;
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

/* DEMO 3 */

.switch.demo3 {
	position:absolute;
	width: 80px;
    height: 20px;
    display: inline-block;
    top: 6px;
    right: 5px;
	
}

.switch.demo3 label {
  display: block;
  width: 100%;
  height: 100%;
  background: #a5a39d;
  border-radius: 40px;
  box-shadow:
      inset 0 3px 8px 1px rgba(0,0,0,0.2),
      0 1px 0 rgba(255,255,255,0.5);
}

.switch.demo3 label:after {
  content: "";
  position: absolute;
  z-index: -1;
  top: -8px; right: -8px; bottom: -8px; left: -8px;
  border-radius: inherit;
  background: #ababab;
  background: -moz-linear-gradient(#f2f2f2, #ababab);
  background: -ms-linear-gradient(#f2f2f2, #ababab);
  background: -o-linear-gradient(#f2f2f2, #ababab);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#f2f2f2), to(#ababab));
  background: -webkit-linear-gradient(#f2f2f2, #ababab);
  background: linear-gradient(#f2f2f2, #ababab);
  box-shadow: 0 0 10px rgba(0,0,0,0.3),
        0 1px 1px rgba(0,0,0,0.25);
}

.switch.demo3 label:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -18px; right: -18px; bottom: -18px; left: -18px;
  border-radius: inherit;
  background: #eee;
  background: -moz-linear-gradient(#e5e7e6, #eee);
  background: -ms-linear-gradient(#e5e7e6, #eee);
  background: -o-linear-gradient(#e5e7e6, #eee);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#e5e7e6), to(#eee));
  background: -webkit-linear-gradient(#e5e7e6, #eee);
  background: linear-gradient(#e5e7e6, #eee);
  box-shadow:
      0 1px 0 rgba(255,255,255,0.5);
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -ms-filter: blur(1px);
  -o-filter: blur(1px);
  filter: blur(1px);
}

.switch.demo3 label i {
  display: block;
  height: 100%;
  width: 55%;
  border-radius: inherit;
  background: silver;
  position: absolute;
  z-index: 2;
  right: 45%;
  top: 0;
  background: #b2ac9e;
  background: -moz-linear-gradient(#f7f2f6, #b2ac9e);
  background: -ms-linear-gradient(#f7f2f6, #b2ac9e);
  background: -o-linear-gradient(#f7f2f6, #b2ac9e);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#f7f2f6), to(#b2ac9e));
  background: -webkit-linear-gradient(#f7f2f6, #b2ac9e);
  background: linear-gradient(#f7f2f6, #b2ac9e);
  box-shadow:
      inset 0 1px 0 white,
      0 0 8px rgba(0,0,0,0.3),
      0 5px 5px rgba(0,0,0,0.2);
}

.switch.demo3 label i:after {
  content: "";
  position: absolute;
  left: 15%;
  top: 25%;
  width: 70%;
  height: 50%;
  background: #d2cbc3;
  background: -moz-linear-gradient(#cbc7bc, #d2cbc3);
  background: -ms-linear-gradient(#cbc7bc, #d2cbc3);
  background: -o-linear-gradient(#cbc7bc, #d2cbc3);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#cbc7bc), to(#d2cbc3));
  background: -webkit-linear-gradient(#cbc7bc, #d2cbc3);
  background: linear-gradient(#cbc7bc, #d2cbc3);
  border-radius: inherit;
}

.switch.demo3 label i:before {
  content: "OFF";
  text-transform: uppercase;
  font-style: normal;
  font-weight: bold;
  color: rgba(0,0,0,0.4);
  text-shadow: 0 1px 0 #bcb8ae, 0 -1px 0 #97958e;
  font-family: Calibri;
  font-size: 12px;
  position: absolute;
  top: 73%;
  margin-top: -12px;
  right: -70%;
  color: red;
}

.switch.demo3 input:checked ~ label {
  background: #9abb82;
}

.switch.demo3 input:checked ~ label i {
  right: -1%;
}

.switch.demo3 input:checked ~ label i:before {
  content: "ON";
  top:73%;
  right: 116%;
  color: #82a06a;
  text-shadow: 
    0 1px 0 #afcb9b,
    0 -1px 0 #6b8659;
}

.pageLink {
	padding:10px;
}
.page-navigation {
	text-align:center;
	
}

	.zelect {
      display: inline-block;
      background-color: white;
      min-width: 300px;
      cursor: pointer;
      line-height: 36px;
      border: 1px solid #dbdece;
      border-radius: 2px;
      position: relative;
	  width:100%;
	  text-align: left !important;
    }
	#products-list .zelect {
		width: calc(100% - 105px);
	  float:left;
	}
    .zelected {
      font-weight: bold;
      padding-left: 10px;
	  height:41px;
    }
    .zelected.placeholder {
      color: #999f82;
    }
    .zelected:hover {
      border-color: #c0c4ab;
      box-shadow: inset 0px 5px 8px -6px #dbdece;
    }
    .zelect.open {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
    .dropdown {
      background-color: white;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      border: 1px solid #dbdece;
      border-top: none;
      position: absolute;
      left:-1px;
      right:-1px;
      top: 36px;
      z-index: 2;
      padding: 3px 5px 3px 3px;
    }
    .dropdown input {
      font-family: sans-serif;
      outline: none;
      font-size: 14px;
      border-radius: 4px;
      border: 1px solid #dbdece;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      width: 100%;
      padding: 7px 0 7px 10px;
    }
    .dropdown ol {
      padding: 0;
      margin: 3px 0 0 0;
      list-style-type: none;
      max-height: 150px;
      overflow-y: scroll;
    }
    .dropdown li {
      padding-left: 10px;
    }
    .dropdown li.current {
      background-color: #e9ebe1;
    }

.overlay {
	position:fixed;
	left:0px;top:0px;right:0px;bottom:0px;
	z-index:9998;
	background-color:#fff;
	opacity:0.5;
}
.MODAL-FILES{
	position:fixed;
	left:30px;top:30px;right:30px;bottom:30px;
	z-index:9999;
}
.MODAL-FILES .close {
	float:right;
}
.MODAL-FILES li {
	float:left;
	margin:5px;
}
.MODAL-FILES li .container{
	width:150px; height:150px; overflow:hidden; border:1px solid #ccc; border-radius:3px;
}
.MODAL-FILES li .container:hover {
	border:1px dashed #16A085;
}
.MODAL-FILES li label{
	display: inline-block;
	border:1px solid transparent;
}
.MODAL-FILES li input[type="radio"], .MODAL-FILES li input[type="checkbox"]{
	display: none;
}
.MODAL-FILES li .selected {
	border:1px solid red;
}

.img-container {
	width:220px;
	overflow:hidden;
	border:1px solid transparent;
	cursor:pointer;
}
.img-container:hover {
	border:1px dashed #000;
}

#dragdropzone {
	width: 99%;
    height: 150px;
    box-sizing: border-box;
    padding: 10px;
    margin: 0 auto;
    background-color: #fff;
    border: 3px dashed #000;
	text-align:center;
}
#que-filelist{
	padding: 10px;
}

    #selectFrame{
        width: 0;
        height: 0;
        line-height: 0;
        border: 1px dotted #5c6a8e;
        background-color: #6582c9;
        position: absolute;
        z-index: 100;
        visibility: hidden;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)"; 
        filter: alpha(opacity=40);
        